body {
  width: 1000px;
  margin: auto;
}

#img1 {
  height: 200px;
}

#img2 {
  height: 200px;
}

#img3 {
  height: 200px;
}

/* #photoDescriptors {
  display: inline-block;
  max-width: 250px;
  height: auto;
  text-align: center;
} */

#photos {
  display: inline-block;
  max-width: 300px;
}